.single-post-card-container {
    border: 1px solid #e0dfdb;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
}

.single-post-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 16px;
    padding-top: 8px;
}

.single-post-user-image {
    cursor: pointer;
    height: 50px;
    width: 50px;
    object-fit: fill;
    border-radius: 50px;
}

.single-post-header {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.single-post-user-name {
    font-weight: 600;
    font-size: 15px;
}

.single-post-time {
    font-size: 13px;
    color: #6d6d6d;
}

.single-post-card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 16px;
    gap: 10px;
}

.single-post-edit-button {
    font-size: 15px;
    cursor: pointer;
    border: none;
    background-color: white;
    color: #717171;
}

.single-post-delete-button {
    font-size: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #717171;
}

.single-post-content {
    word-break: keep-all;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 10px;
}

.single-post-image {
    max-width: 555px;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 5px;
}

.single-post-counts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 7px;
}

.single-post-likes-count {
    color: #797979;
    font-size: 12px;
}

.single-post-comments-count {
    cursor: pointer;
    color: #797979;
    font-size: 12px;
}

.single-post-comments-count:hover {
    text-decoration: underline;
    color: #0d64c2;
}

.single-post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid #ebebeb;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.single-post-footer-buttons {
    font-size: 15px;
    cursor: pointer;
    border: none;
    background-color: white;
    color: #717171;
}

.single-post-comments-container {
    padding-left: 16px;
    padding-right: 16px;
}

.single-post-edit-button :hover {
    color: black;
}

.single-post-delete-button :hover {
    color: black;
}

.single-post-footer-buttons-container :hover {
    color: black;
}
