.feed-page-main-container {
    /* border: 3px solid pink; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
}

.feed-page-left-card {
    border: 1px solid #e0dfdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: sticky;
    top: 25px;
    box-sizing: border-box;
}

.left-card-image {
    cursor: pointer;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    margin-bottom: 25px;
    margin-top: 5px;
}

.left-card-user-name {
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 15px;
    word-break: break-all;
}

.left-card-user-occupation {
    font-size: smaller;
    color: #6d6d6d;
    margin-bottom: 13px;
    word-break: break-all;
}

.feed-page-right-card {
    box-sizing: border-box;
    border: 1px solid #e0dfdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    position: sticky;
    top: 25px;
}

.right-card-title {
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
}

.right-card-description {
    font-weight: 300;
    word-break:keep-all;
    line-height: 23px;
}

.all-posts-main-container {
    /* border: 3px orange solid; */
    width: 556px;
}

.create-post-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e0dfdb;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 6px;
    height: 90px;
    padding-left: 16px;
}

.create-post-user-image {
    height: 50px;
    width: 50px;
    object-fit: fill;
    border-radius: 50px;
    margin-right: 7px;
}

.create-post-button {
    cursor: pointer;
    background-color: white;
    color: #717171;
    font-size: 15px;
    border: #bbbbbb solid 1px;
    border-radius: 28px;
    height: 50px;
    width: 460px;
    text-align: left;
    padding-left: 15px;
}

.create-post-main-container :hover {
    background-color: rgb(222, 222, 222);
}
