.user-profile-main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    gap: 25px;
}

.profile-page-left-container {
    width: 805px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.user-profile-bio-container {
    border: 2px solid #e2e1df;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
}

.profile-page-user-image {
    width: 155px;
    height: 155px;
    object-fit: fill;
    border-radius: 200px;
    margin-bottom: 10px;
}

.profile-page-user-name {
    font-weight: bold;
    font-size: 30px;
}

.profile-page-user-occupation {
    font-weight: 300;
    font-size: 15px;
}

.user-experiences-container {
    border: 2px solid #e2e1df;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.experience-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25px;
}

.experience-header {
    font-weight: 600;
    font-size: 20px;
}

.add-experience-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #666666;
    padding: 15px;
}

.add-experience-button:hover {
    background-color: #ebebeb;
    border-radius: 50px;
}

.single-experience-card-container {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.single-experience-left-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.single-experience-right-container {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.working-experience-icon {
    height: 45px;
    width: 45px;
}

.single-experience-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.working-title {
    font-weight: 500;
    font-size: 16px;
}

.company-name {
    font-weight: 300;
    font-size: 13px;
}

.working-timeline {
    font-weight: 300;
    font-size: 14px;
    color: #787878;
}

.user-skills-container {
    border: 2px solid #e2e1df;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.single-skill-card {
    font-weight: 500;
    font-size: 16px;
}

.profile-page-right-container {
    box-sizing: border-box;
    border: 2px solid #e2e1df;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 273px;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    position: sticky;
    top: 25px;
}
