.create-comment-form-input-container {
    display: flex;
    flex-direction: row;
}

.create-comment-form-user-image {
    height: 50px;
    width: 50px;
    object-fit: fill;
    border-radius: 50px;
}

.create-comment-content {
    min-height: 45px;
    width: 477px;
    border: 1px solid #c4c4c4;
    word-break: keep-all;
    border-radius: 25px;
    padding-top: 15px;
    padding-left: 10px;
    box-sizing: border-box;
}

.create-comment-form-errors {
    color: #cc1015;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.create-comment-content:focus {
    outline: none;
    border: 2px solid #b2b2b2;
}

.create-comment-submit-button {
    cursor: pointer;
    background-color: #0b65c2;
    color: white;
    border: none;
    width: 53px;
    height: 26px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 600;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 52px;
    margin-top: 10px;
}

.create-comment-submit-button:hover {
    background-color: #0a4682;
}

.create-comment-submit-button-disabled {
    cursor: not-allowed;
    background-color: #ebebeb;
    color: #a4a4a4;
    border: none;
    width: 53px;
    height: 26px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 600;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 52px;
    margin-top: 10px;
}
