.single-comment-card-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 20px;
}

.single-comment-user-image {
    height: 50px;
    width: 50px;
    object-fit: fill;
    border-radius: 50px;
}

.single-comment-body {
    width: 444px;
    background-color: #f2f2f2;
    border-radius: 0 5px 5px 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 5px;
}

.single-comment-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.single-comment-createdTime {
    font-size: smaller;
    color: #797979;
    margin-top: 2px;
}

.single-comment-content {
    word-break: break-all;
}

.single-comment-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.fa-solid.fa-pen-to-square {
    font-size: 15px;
    cursor: pointer;
    color: #717171;
}

.fa-regular.fa-trash-can {
    font-size: 15px;
    cursor: pointer;
    color: #717171;
}

.edit-comment-content {
    min-height: 45px;
    max-width: 427px;
    border: none;
    word-break: break-all;
    padding-left: 10px;
    background-color: #f2f2f2;
}

.edit-comment-content:focus {
    outline: none;
}

.edit-comment-form-errors {
    color: #cc1015;
    font-size: 15px;
    margin-left: 2px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.edit-comment-submit-button {
    cursor: pointer;
    background-color: #0b65c2;
    color: white;
    border: none;
    width: 110px;
    height: 26px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 600;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.edit-comment-submit-button:hover {
    background-color: #0a4682;
}

.edit-comment-submit-button-disabled {
    cursor: not-allowed;
    background-color: #dfdfdf;
    color: #9c9c9c;
    border: none;
    width: 110px;
    height: 26px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 600;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.edit-comment-cancel-button {
    cursor: pointer;
    background-color: none;
    color: #616161;
    border: 1px solid #616161;
    width: 110px;
    height: 26px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 600;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 10px;
}

.edit-comment-cancel-button:hover {
    background-color: #d1d1d1;
    color: #535353;
    border: 2px solid #535353;
}

.single-comment-edit-button :hover {
    color: black;
}

.single-post-delete-button :hover {
    color: black;
}
