.create-post-form-container {
    height: 375px;
    width: 550px;
}

.create-post-form-title {
    border-bottom: 1px solid #ebebeb;
    padding-left: 20px;
    margin-top: 15px;
    padding-bottom: 15px;
    font-weight: 20;
    font-size: 19px;
}

.create-post-form-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.create-post-form-user-image {
    height: 50px;
    width: 50px;
    object-fit: fill;
    border-radius: 50px;
    margin-right: 7px;
}

.create-post-content {
    min-height: 155px;
    width: 505px;
    word-break: break-all;
    margin-top: 13px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.create-post-content:focus {
    outline: none;
}

.create-post-form-errors {
    color: #cc1015;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 4px;
}

.create-post-form-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

input[type="file"] {
    display: none;
}

.create-post-image-upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.fa-regular.fa-image {
    color: #717171;
}

.create-post-file-name {
    font-size: 14px;
    color: #717171;
}

.create-post-submit-button {
    cursor: pointer;
    background-color: #0b65c2;
    color: white;
    border: none;
    width: 65px;
    height: 35px;
    border-radius: 20px;
    font-size: 15px;
}

.create-post-submit-button:hover {
    background-color: #0a4682;
}

.create-post-submit-button-disabled {
    cursor: not-allowed;
    background-color: #ebebeb;
    color: #a4a4a4;
    border: none;
    width: 65px;
    height: 35px;
    border-radius: 20px;
    font-size: 15px;
}
